a, body, div, h1, h3, html, li, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
}

ul {
  list-style: none;

}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: 0;
}

a:active, a:hover {
  outline: 0;
}

html {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@font-face {
  font-family: "93stf-v";
  src: url(../type/93tf/93-Custom-Regular.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Telegraf-Regular";
  src: url(../type/otf/Telegraf-Regular.woff2);
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntlMono-Regular";
  src: url(../type/93tf/SuisseIntlMono-Regular-WebS.woff2);
  font-style: normal;
}

:root {
  --white: #fcfcfc;
  --blacktext: rgba(0, 0, 0, .9);
  --greytext: rgba(0, 0, 0, .75);
  --linkcolor: rgba(0, 0, 0, .9);
  --whitetext: rgba(255,255,255, 0.95);
  --lighttext: rgba(0,0,0,.4);
  --desertsand: #eabda8;
  --bluecrayon: #2646ff;
  --offwhite: #fafafa;
  --licorice: #101011;
  --base: 6px;
  --Standardfontsize: 18px;
  --infofontsize: 12px;
  --scale: 3vw;
  --basicfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --variablefont: "93stf-v";
  --monofont: "SuisseIntlMono-Regular";
}

html {
  height: 100%;
  font-size: var(--Standardfontsize);
}

body {
  font-family: var(--variablefont), sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--greytext);
  height: 100%;
  background-color: var(--offwhite);
  font-feature-settings: "dlig"0, "numr"0, "dnom"0, "tnum", "case", "zero", "frac", "sups"0, "subs"0, "cpsp", "salt"0, "ss01"0, "ss02"0, "ss03"0, "cv01"0, "cv02"0, "cv03"0, "cv04"0, "cv05", "cv06", "cv07"0, "cv08"0, "cv09"0, "cv10", "cv11"0, "calt", "liga", "kern";
}

a {
  color: var(--linkcolor);
}

h1, h2, h3 {
  color: var(--blacktext);
  line-height: 1.2;
  font-weight: normal;
}

h4 {
  color: var(--blacktext);
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  font-family: var(--variablefont);
  font-size: calc(2rem + var(--scale));
  margin: 0 ;
  line-height: 1.1;
}

h3 {
  font-size: 2rem;
  margin: 0 0 .5rem 0;
}

h2 {
  font-size: calc(1.5rem + var(--scale));
  margin: 0 0 0.5rem 0;
}

h4 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

.page a::before {
  font-family: Telegraf-Regular;
  content: "→ ";
}

.page a::after {
  content: " ";
  position:absolute;
  width:100%;
  height:2px;
  bottom:-4px;
  left:0;
}


.stagelink a::after {
  background-color:var(--whitetext);
}

.flexboxcontainer a::after, .footer a::after {
  background-color:black;
}



.wrap {
  display: flex;
}

.divcontent {
  width: 100%;
  margin: 0 auto;
}

ul li{
  height: 24px;
  margin-bottom: 1rem;
  line-height: 1.4;
}

ul li a{
  font-family: var(--monofont);
  font-size:0.9rem;
  text-transform: uppercase;
}

.section1{
  height:66vh;
}

p{
  margin-bottom:1rem;
}
.logobar{
  width:90px;
  float:left;

}

#navbar {
  transition: all 0.2s ease-in-out;
  transform: translate3d(0,-100%,0);
}

.headercontainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 90%;
  height: 20px;
  padding: 15px 5% 24px;
  font-family: Telegraf-Regular;
  font-size: 1.4rem;
  background-color: var(--offwhite);
}

.leftspacer {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 300px;
  width: 300px;
  height: 100%;
  background-color: red;
}

.contactlinks {
  font-size: 1rem;
  text-transform: none;
  float: left;
  margin-left: 50px;
  text-align: right;
  margin-top: -6px;
  line-height: 1.2;
  font-family: var(--monofont);
}

.monofont {
  font-family: var(--monofont);
  font-size: 0.8rem;
  line-height:1.2;
}

.copytext{
  font-family: var(--monofont);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.introsection{
  width:80%;
  margin: 25vh 5%;

}

.contactlinks a {
  float: left;
  clear: both;
  margin-bottom: 6px;
}

.contactinks a:first-child {
  margin-bottom: 10px;
}



.stageimage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}


.menulist {
  display: inline;
  float: left;
}

.menulist li {
  display: inline;
  margin-left: 45px;
}

.menu ul {
  float: left;
}

#mobilemenu {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 94%;
  padding: 0 3%;
  z-index: 2;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease 0s;
  background-color: white;
}

.mmc {
  display: table-cell;
  vertical-align: middle;
}

.mobilemenulist li {
  font-size: 3rem;
  margin-bottom: 54px;
  text-transform: uppercase;
}

.mobilecontactlinks a {
  font-size: 1rem;
  margin-top: 12px;
  float: left;
  clear: both;
}

.logo {
line-height:1;
font-size:2rem;
padding-top:36px;
}

#menutoggle {
  float: right;
}

a {
  text-decoration: none;
  position:relative;
}

.flexboxcontainer {
  display: flex;
  flex-wrap: wrap;
  scroll-snap-type: y proximity;
  background-color: var(--offwhite);
  width: 95%;
margin: 0 auto;
}


.item-66 {
  flex-basis: 60%;
  flex-grow: 1;
  margin-bottom: 55px;
  margin: 2.5%;
  max-width:60%;
}



.item-33 {
  flex-basis: 30%;
  scroll-snap-align: center;
  margin: 2.5%;
  max-width:30%;

}

.item-50 {
  flex-basis: 45%;
  scroll-snap-align: center;
  margin: 2.5%;
  flex-grow: 1;
  max-width:45%;
}

.item-25 {
  flex-basis: 20%;
  scroll-snap-align: center;
  margin: 2.5%;
  flex-grow: 1;
  max-width:20%;
}


.item-100 {
  flex-basis: 100%;
  flex-grow: 1;

  scroll-snap-align: center;
margin-left: 2.5%;
margin-right: 2.55%;
max-height:35vw;
}

@media screen and (max-width:980px) {

  .item-25 {
    flex-basis: 45%;
     max-width:45%;
  }

  :root {
    --Standardfontsize: 16px;
    --infofontsize: 12px;
  }




}

@media screen and (max-width:620px) {

  .item-25 {
    flex-basis: 95%;
     max-width:95%;
  }

  .item-50 {
    flex-basis: 95%;
     max-width:95%;
  }




}

.infotext{
  font-size: var(--infofontsize);
  color: var(--lighttext);
  font-family: var(--variablefont);
  letter-spacing: 0.1rem;
}


.gridcontainer{
  display:grid;
  grid-template-columns: minmax(140px, 0.5fr) 4fr minmax(190px, 1fr) minmax(190px, 1fr);
  grid-auto-rows: auto;
  grid-gap: 5vw;
  margin: 5vw;
  height:100vh;
}

.right{
  text-align:right;
}



.inforow-full {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 0px;
  margin-bottom: 1rem;
}

.infotitle {
  grid-area: 1 / 1 / 2 / 2;
}

.infotagdate {
  grid-area: 1 / 2 / 2 / 3;
  font-family: var(--monofont);
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

#menu {
  font-size: 1.4rem;
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 4%;
  height: 35px;
  width: 54px;
}



.stagelement {
  height: 66vh;
  width: 100%;
  clear: both;
  background-color: var(--offwhite);
  flex: none;
  position: relative;
  margin-bottom: 5vh;
}

.stagetitle { grid-area: 2 / 1 / 3 / 4; }
.stagedate { grid-area: 1 / 1 / 2 / 2; }
.stagetags { grid-area: 1 / 2 / 2 / 3; }
.stagelinks { grid-area: 1 / 3 / 2 / 4; }

.stagelink a {
  color: var(--whitetext);
}

.scrollcontainer {
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  scroll-snap-type: x proximity;
  cursor: grab;
}

.grabbed {
  scroll-snap-type: none;
  cursor: grabbing;
}

.scrollcontainer>div {
  position: relative;
  scroll-snap-align: start;
  flex: none;
}

.scrollcontainer>div:last-child {
  scroll-snap-align: end;
}

.stagelement>div {
  width: 75%;
  height: 95%;
  margin-right: 5%;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.stagetext {
  position: absolute;
  color: var(--whitetext);
  bottom: 30%;
  margin: 0 5vw 0 5vw;
}

.stagelink{
  position: absolute;
  bottom: 15%;
  margin: 0 5vw 0 5vw;
  font-family: var(--monofont);
}

.stagetext h2 {
  color: white;
}

.stagefeatured {
margin: 0 0 1rem 0;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
}

.textflow {
  max-width: 648px;
  margin: 0 auto;
}

.understage{
  height:29vh;
  max-height:29vh;
}



.nolinks{

}



.container {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fade-in {
  animation: fade-in .3s forwards;
}

.fade-out {
  animation: fade-out .3s forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (min-width:621px) {
  #mobilemenu {
    display: none;
  }
}

@media screen and (max-width:620px) {



}
