a, body, div, h1, h3, html, li, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  line-height: 1;
}

ul {
  list-style: none;

}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: 0;
}

a:active, a:hover {
  outline: 0;
}

html {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}



@font-face {
  font-family: "93stf-v";
  src: url(../type/93tf/93stf-variable.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Young";
  src: url(../type/93tf/viesual-serif-regular.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Space-Grotesk";
  src: url(../type/otf/SpaceGrotesk-Regular.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Telegraf-Regular";
  src: url(../type/otf/Telegraf-Regular.woff2);
  font-style: normal;
}

@font-face {
  font-family: "Telegraf-SemiBold";
  src: url(../type/93tf/Telegraf-SemiBold.woff2);
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntlMono-Regular";
  src: url(../type/93tf/SuisseIntlMono-Regular-WebS.woff2);
  font-style: normal;
}

:root {
  --white: #fcfcfc;
  --blacktext: rgba(0, 0, 0, .9);
  --greytext: rgba(0, 0, 0, .9);
  --linkcolor: rgba(0, 0, 0, .9);
  --whitetext: rgba(255,255,255, 0.95);
  --lighttext: rgba(0,0,0,.4);
  --offwhite: #F3F3F3;
  --seashell: #F9F6F4;
  --isabelline: #EAEAEA;
    --neon: #baff29;
  --hovercolor: white;
  --desertsand: #e6beae;
  --base: 6px;
  --Standardfontsize: 16px;
  --infofontsize: 12px;
  --scale: 1vw;
  --basicfont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --variablefont: "93stf-v";
  --monofont: "SuisseIntlMono-Regular";
  --semiboldfont: "Telegraf-SemiBold";
  --regularfont: "Telegraf-Regular";
}

html {
  height: 100%;
  font-size: var(--Standardfontsize);
  font-variation-settings: "wght" 400;
}

body {
  font-family: var(--regularfont), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--greytext);
  height: 100%;
  background-color: var(--seashell);
    font-feature-settings: "dlig"0, "numr"0, "dnom"0, "tnum", "case", "zero", "frac", "sups"0, "subs"0, "cpsp", "salt"0, "ss01"0, "ss02"0, "ss03"0, "cv01"0, "cv02"0, "cv03"0, "cv04"0, "cv05", "cv06", "cv07"0, "cv08"0, "cv09"0, "cv10", "cv11"0, "calt", "liga", "kern";

}

a {
  color: var(--linkcolor);
}


h1 {
  font-size: 5rem;
  margin: 0 ;
  line-height: 1.1;
}

h2 {
  font-size: calc(1.5rem + var(--scale));
  margin: 0 0 0.5rem 0;
  font-family: var(--boldfont);
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  margin: 0 0 1rem 0;
  font-family: var(--semiboldfont)
}

h4 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
    font-family: var(--boldfont);
}


.sep{
  width:100%;
  height:3px;
  background-color:var(--blacktext);
  margin-bottom: 30px;
}

.bold{
  font-variation-settings: "wght" 600;
}


.wrap {
  display: flex;
}

.divcontent {
  width: 100%;
  margin: 0 auto;
}

ul li{

  margin-bottom: 0.5rem;
  line-height: 1;
}



a {
  transition: all .2s;
}

#mobilemenutoggle{
  position:fixed;
  bottom:15%;
  left: 50%;
  transform: translateX(-50%);
  display:none;
  z-index:3;
}



.bulletlist li a::before{
  content: "â— ";
  font-size:0.5rem;
  font-family: var(--regularfont);
  position: absolute;
  left: -28px;
  bottom: 6px;
}

.date{
  width:45%;
  float:left;
  font-size:0.5rem;
}

.tags{
  width:45%;
  float:right;
  text-align:right;
  font-size:0.5rem;
}

button{
  border:none;
  font-family: inherit;
  font-size: inherit;
  padding:none;
  border-radius: none;
  text-transform: uppercase;
}

p{
  margin-bottom:1rem;
}



.stage{
  font-size: 21vw;
  margin-bottom:20px;
}






.monofont {
  font-family: var(--monofont);
  font-size: 0.8rem;
  line-height:1.2;
}

.internallink::after{
  margin-left: 5px;
content:"->";
}

.internallink{
  position: relative;
}

.introsection{
  width:80%;
  margin: 25% 5%;

}

.contactlinks a {
  float: left;
  clear: both;
  margin-bottom: 6px;
}

.contactinks a:first-child {
  margin-bottom: 10px;
}



.stageimage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.white{
  color:var(--whitetext);
}

.standardbutton{
  padding: 0px 12px;
    border: 2px solid black;
    border-radius: 29px;
    font-family: "Telegraf-SemiBold";
   background-color: var(--seashell);
    text-transform: lowercase;
    transition: all .3s ease-in-out;
}

.standardbutton:hover{
 background-color:black;
 color:white;
}









 /*test*/
.fixedheader{
  position:fixed;
  top:0;
  left:0;
  padding: 8px 0;
  align-items: center;
  z-index: 3;
  background-color:#fff;
}

.item-50 > img{
  max-height:50%;
}

.logo {
text-align: center;
max-width:300px;
}

#menutoggle {
  text-align:right;
}


a {
  text-decoration: none;
  position:relative;
}

.flexboxcontainer {
  display: flex;
  flex-wrap: wrap;
  scroll-snap-type: y proximity;
  width: 95%;
  padding: 0 2.5%;
  justify-content: space-around;
}


.flexnest{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexnest > div{
  flex-grow:1;
}


.item-75 {
  flex-basis: 60%;
  flex-grow: 1;
  margin: 2.5% 2.5%;
  max-width:60%;
}



.item-33 {
  flex-basis: 380px;
  flex-grow:1;
  margin: 2.5% 2.5%;
}

.item-33__footer {
  flex-basis: 160px;
  flex-grow:1;
  margin: 2.5% 2.5%;
}



.item-17{
  flex-basis:17%;
  margin: 2.5% 2.5%;
  flex-grow:1;
}


.item-logo{
  padding: 2.5% 2.5%;
  width:200px;
}

.menu-item{
  width:400px;
}

.menu-item ul li{
  display: inline;
  margin-left:40px;
}

.item-50 {
  flex-basis: 45%;
    margin: 2.5% 2.5%;
  flex-grow: 1;
  max-width:45%;
}

.item-25 {
  flex-basis: 20%;
    margin: 2.5% 2.5%;
  flex-grow: 1;
  max-width:20%;
}


.item-100 {
  flex-basis: 100%;
  flex-grow: 1;

  scroll-snap-align: center;
margin-left: 2.5%;
margin-right: 2.55%;
max-height:35vw;
}

/*
@media screen and (max-width:980px) {

  .item-25 {
    flex-basis: 45%;
     max-width:45%;
  }

  :root {
    --Standardfontsize: 24px;
    --infofontsize: 12px;
  }




}

@media screen and (max-width:620px) {

  .item-25 {
    flex-basis: 45%;
     max-width:45%;
  }

  .item-50 {
    flex-basis: 95%;
     max-width:95%;
  }




}

*/


.gridcontainer{
  display:grid;
  grid-template-columns: minmax(140px, 0.5fr) repeat(4, 2fr);
  grid-auto-rows: auto;
  grid-gap: 5vw;
  margin: 5vw;
  height:100%;
  background-image: url(img/ich.jpg);
}

.span2{
  grid-column: span 2;
}

.right{
  text-align:right;
}



.inforow-full {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 0px;
  margin-bottom: 1rem;
}

.infotitle {
  grid-area: 1 / 1 / 2 / 2;
}

.infotagdate {
  grid-area: 1 / 2 / 2 / 3;
  font-family: var(--monofont);
  font-size: 20px;
}

.teasergrid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3,auto);
    grid-column-gap: 10px;

    grid-row-gap: 10px;
    
}

.teaserimg{
  grid-area: 1 / 1 / 2 / 3;
}

.teaserheadline{
  grid-area: 2 / 1 / 3 / 3;
}

.teasertags{
  grid-area: 3 / 1 / 4 / 2; 
}

.teaserbutton{
  grid-area: 3 / 2 / 4 / 3;
  text-align:right;
}

img {
  width: 100%;
  object-fit: cover;
  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.menubutton{
  padding: 3px 15px 5px 15px;
    background-color: black;
    border-radius: 24px;
    color: white;
    font-size:1.5rem;
    font-family: "Telegraf-SemiBold";
    text-transform: lowercase;
    box-shadow:
    0 2.8px 2.2px rgba(255, 255, 255, 0.034),
    0 6.7px 5.3px rgba(255, 255, 255, 0.048),
    0 12.5px 10px rgba(255, 255, 255, 0.06)

}

.infosection{

}

#menuoverlay{
  position:fixed;
  top:0;
  right:0;
  height:100%;
  background-color: var(--offwhite);
  z-index:2;
  display:none;
  padding-top:200px;

}

.stagelement {
  height: 66%;
  width: 100%;
  clear: both;
  background-color: var(--offwhite);
  flex: none;
  position: relative;
  margin-bottom: 5%;
}

.stagetitle { grid-area: 2 / 1 / 3 / 4; }
.stagedate { grid-area: 1 / 1 / 2 / 2; }
.stagetags { grid-area: 1 / 2 / 2 / 3; }
.stagelinks { grid-area: 1 / 3 / 2 / 4; }

.stagelink a {
  color: var(--whitetext);
}

.scrollcontainer {
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  scroll-snap-type: x proximity;
  cursor: grab;
}

.grabbed {
  scroll-snap-type: none;
  cursor: grabbing;
}

.scrollcontainer>div {
  position: relative;
  scroll-snap-align: start;
  flex: none;
}

.scrollcontainer>div:last-child {
  scroll-snap-align: end;
}

.stagelement>div {
  width: 75%;
  height: 95%;
  margin-right: 5%;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.stagetext {
  position: absolute;
  color: var(--whitetext);
  bottom: 30%;
  margin: 0 5vw 0 5vw;
}

.stagelink{
  position: absolute;
  bottom: 15%;
  margin: 0 5vw 0 5vw;
  font-family: var(--monofont);
}

.stagetext h2 {
  color: white;
}

.stagefeatured {
margin: 0 0 1rem 0;
}

.margin {
  margin-left: 5%;
  margin-right: 5%;
}

.textflow {
  max-width: 648px;
  margin: 0 auto;
}

.understage{
  height:29%;
  max-height:29%;
}



.nolinks{

}

.sectionintro{
margin-top:300px;
height:100vh;
}


.swipeelement{
  width:80%;
  height:90vh;
  background-color:red;
  margin-left:5%;
  flex-shrink:0;
  flex-grow:0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width:1550px;
  perspective: 1px;
}

.nomtop{
  margin-top: 0;
  margin-bottom: 0;
}

.observe{
  transition: all 1s ease-out;
}

.flexboxcontainer__header {
  background-color: #000;
  color:white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  padding: 2.5% 2.5%;
  justify-content: start;
}

.flexboxcontainer__footer {
  background-color: #000;
  color:white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  margin-top:100px;
  padding: 50px 2.5%;
  justify-content: start;
}

@media screen and (max-width: 680px) {

  .flexboxcontainer__footer {
    flex-direction: column;
  }
  .right{
    text-align:left;
  }

}

.__out{
transform: translate3d(0,60px,0);

}

.__in{
  transform: translate3d(0,0,0);

 }

.move-up{
  animation: move-up 0.3s forwards;
}

.fade-in {
  animation: fade-in .3s forwards;
}

.fade-out {
  animation: fade-out .3s forwards;
}

@keyframes move-up{
from{
  transform: translate3D(0,0,0);
}
to{
  transform: translate3D(0,-100,0);
}

}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 640px) {

#mobilemenutoggle{
  display:block;
}

#menutoggle{
  display:none;
}

}